@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: 'Noto Sans JP', sans-serif, 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 4.27vw;
  color: #333333;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 70px;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 101px;
  }
}

@media (min-width: 1920px) {
  html {
    scroll-padding-top: 101px;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.container {
  overflow: hidden;
}

.container-body {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-body {
    max-width: 62.5vw;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .container-body {
    max-width: 75rem;
    margin: 0 auto;
  }
}

.top picture {
  display: block;
}

.button {
  font-size: 5.33vw;
  font-weight: 700;
  color: #ffffff;
  border-radius: 8.53vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81.33vw;
  margin: 0 auto;
  padding: 5.21vw 0 5.21vw 0;
}

@media (min-width: 768px) {
  .button {
    font-size: 1.25vw;
    border-radius: 2.5vw;
    width: 18.75vw;
    margin: 0;
    padding: 1.02vw 0 1.02vw 1.25vw;
  }
}

@media (min-width: 1920px) {
  .button {
    font-size: 1.5rem;
    border-radius: 3rem;
    max-width: 22.5rem;
    margin: 0 auto;
    padding: 1.22rem 0 1.22rem 1.5rem;
  }
}

.button-blue-ghost {
  background-color: #0271e0;
  margin-bottom: 3.2vw;
}

@media (min-width: 768px) {
  .button-blue-ghost {
    margin-bottom: 0;
  }
}

.button-orange-ghost {
  background-color: #f6aa00;
}

.button-blue-ghost-icon {
  font-size: 5.79vw;
  font-weight: 700;
  color: #ffffff;
  margin-left: 3.41vw;
}

@media (min-width: 768px) {
  .button-blue-ghost-icon {
    font-size: 1.83vw;
    margin-left: 1.25vw;
  }
}

@media (min-width: 1920px) {
  .button-blue-ghost-icon {
    font-size: 2.1944rem;
    margin-left: 1.5rem;
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 18.67vw;
  background: #ffffff;
  box-shadow: 0 0.8vw 2.13vw rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .header {
    height: 5.26vw;
    box-shadow: 0 0.1vw 0.42vw rgba(0, 0, 0, 0.16);
  }
}

@media (min-width: 1920px) {
  .header {
    height: 6.3125rem;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 4.27vw;
}

@media (min-width: 768px) {
  .header-container {
    max-width: 62.5vw;
    width: 100%;
    height: 100%;
    padding: 0 1.08vw 0 1.08vw;
  }
}

@media (min-width: 1920px) {
  .header-container {
    max-width: 75rem;
    width: 100%;
    height: 100%;
    padding: 0 1.3rem 0 1.3rem;
  }
}

.header img {
  width: 100%;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53%;
  max-width: 44.27vw;
  height: 18.67vw;
}

@media (min-width: 768px) {
  .header-logo {
    width: 21%;
    max-width: 12.55vw;
    height: 5.26vw;
  }
}

@media (min-width: 1920px) {
  .header-logo {
    max-width: 15.0625rem;
    height: 6.3125rem;
  }
}

.header-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hamburger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #005bac;
  width: 18.67vw;
  height: 18.67vw;
  font-size: 8.53vw;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

@media (max-width: 767px) {
  .hamburger-menu {
    position: fixed;
    top: 18.67vw;
    left: 0;
    width: 100%;
    margin: 0;
    height: auto;
    padding: 5.12vw 0 6.19vw 0;
    background: #005bac;
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: auto !important;
    column-gap: 2.17vw;
  }
}

@media (min-width: 1920px) {
  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    column-gap: 2.6rem;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group {
    display: block;
    padding: 0 5.13vw;
    margin-bottom: 8.53vw;
  }
}

@media (min-width: 768px) {
  .hamburger-menu-list-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    column-gap: 2.29vw;
  }
}

@media (min-width: 1920px) {
  .hamburger-menu-list-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    column-gap: 2.7rem;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group li {
    border-bottom: 1px solid #ffffff;
    padding: 0 0 4.27vw 6.4vw;
    margin-bottom: 5.55vw;
    line-height: 1.5;
    position: relative;
  }
}

@media (min-width: 768px) {
  .hamburger-menu-list-group li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.42vw 0.25vw 0.42vw 0;
  }
}

@media (min-width: 1920px) {
  .hamburger-menu-list-group li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.3rem 0.5rem 0;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list-group li::before {
    font-family: "Font Awesome 5 Free";
    content: '\f061';
    font-size: 3.73vw;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 5%;
    left: 0;
  }
}

@media (min-width: 768px) {
  .hamburger-menu-list-group li::before {
    display: none;
  }
}

.hamburger-menu-list-group li a {
  font-size: 4.8vw;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: -0.13vw;
}

@media (min-width: 768px) {
  .hamburger-menu-list-group li a {
    font-size: 1.04vw;
    font-weight: 500;
    color: #333333;
    letter-spacing: 0;
  }
}

@media (min-width: 1920px) {
  .hamburger-menu-list-group li a {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-button-ghost {
    font-size: 4.8vw;
    font-weight: 700;
    color: #005bac;
    background-color: #ffffff;
    border-radius: 8.53vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89.73vw;
    letter-spacing: -0.13vw;
    margin: 0 auto;
    padding: 4.87vw 1.07vw 4.87vw 1.07vw;
  }
}

@media (min-width: 768px) {
  .hamburger-menu-button-ghost {
    font-size: 1.04vw;
    font-weight: 700;
    color: #ffffff;
    background-color: #0271e0;
    border-radius: 1.67vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.69vw;
    letter-spacing: 0;
    margin: 0 auto;
    padding: 0.808vw 0.201vw 0.808vw 0.375vw;
  }
}

@media (min-width: 1920px) {
  .hamburger-menu-button-ghost {
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #0271e0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.625rem;
    letter-spacing: 0;
    margin: 0 auto;
    padding: 0.9688rem 0.25rem 0.9688rem 0.45rem;
  }
}

/* top
------------------------------------------ */
.top {
  position: relative;
}

.top-container {
  padding: 18.67vw 0 3.2vw 0;
}

@media (min-width: 768px) {
  .top-container {
    max-width: 100%;
    padding: 5.26vw 0 2.08vw 0;
  }
}

@media (min-width: 1920px) {
  .top-container {
    max-width: 100%;
    padding: 6.3125rem 0 2.5rem 0;
  }
}

.top img {
  width: 100%;
}

.top-image {
  width: 100%;
  margin-bottom: 6.4vw;
}

@media (min-width: 768px) {
  .top-image {
    width: 100%;
    margin-bottom: 0.83vw;
  }
}

@media (min-width: 1920px) {
  .top-image {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.frame-left {
  width: 6.4vw;
}

@media (min-width: 768px) {
  .frame-left {
    width: 2.74vw;
  }
}

@media (min-width: 1920px) {
  .frame-left {
    width: 3.2875rem;
  }
}

.frame-right {
  width: 6.4vw;
}

@media (min-width: 768px) {
  .frame-right {
    width: 2.74vw;
  }
}

@media (min-width: 1920px) {
  .frame-right {
    width: 3.2875rem;
  }
}

.top-wrapper {
  position: absolute;
  top: 20%;
  left: 4.27vw;
}

@media (min-width: 768px) {
  .top-wrapper {
    position: absolute;
    top: 26%;
    left: 21.25%;
  }
}

.top-catch {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.7rem;
}

@media (min-width: 768px) {
  .top-catch {
    margin-bottom: 1.75vw;
  }
}

@media (min-width: 1920px) {
  .top-catch {
    margin-bottom: 2.1rem;
  }
}

.top-catch-text {
  text-align: center;
  line-height: 1;
  padding-bottom: 4.27vw;
}

@media (min-width: 768px) {
  .top-catch-text {
    padding: 0 1.25vw 0.67vw 1.25vw;
  }
}

@media (min-width: 1920px) {
  .top-catch-text {
    padding: 0 1.5rem 0.7rem 1.5rem;
  }
}

.top-catch-one {
  font-size: 2.93vw;
  font-weight: 400;
  display: block;
  margin-bottom: 2.99vw;
}

@media (min-width: 768px) {
  .top-catch-one {
    font-size: 1.04vw;
    margin-bottom: 0.83vw;
  }
}

@media (min-width: 1920px) {
  .top-catch-one {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    ;
  }
}

.top-catch-two {
  font-size: 6.67vw;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: #f11f8d;
  display: block;
}

@media (min-width: 768px) {
  .top-catch-two {
    font-size: 2.81vw;
    margin-left: 0.17vw;
  }
}

@media (min-width: 1920px) {
  .top-catch-two {
    font-size: 3.375rem;
    margin-left: 0.2rem;
  }
}

.top-catch-two-change {
  font-size: 9.6vw;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: #f11f8d;
}

@media (min-width: 768px) {
  .top-catch-two-change {
    font-size: 3.85vw;
  }
}

@media (min-width: 1920px) {
  .top-catch-two-change {
    font-size: 4.625rem;
  }
}

.top-text-sub {
  font-size: 3.73vw;
  font-weight: 400;
  display: block;
}

@media (min-width: 768px) {
  .top-text-sub {
    font-size: 1.72vw;
    margin-bottom: 0.21vw;
  }
}

@media (min-width: 1920px) {
  .top-text-sub {
    font-size: 2.0625rem;
    margin-bottom: 0.25rem;
  }
}

.top-text {
  font-size: 6.67vw;
  font-weight: 900;
  color: #005bac;
  display: block;
  line-height: calc(36 / 25);
}

@media (min-width: 768px) {
  .top-text {
    font-size: 3.13vw;
    line-height: calc(85 / 60);
  }
}

@media (min-width: 1920px) {
  .top-text {
    font-size: 3.75rem;
  }
}

@media (min-width: 768px) {
  .top-list-group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.08vw;
    position: absolute;
    bottom: 2.15%;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .top-list-group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5rem;
    position: absolute;
    bottom: 2%;
    left: 0;
  }
}

.top-list {
  font-size: 4.27vw;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10.67vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 66.67vw;
  margin: 0 auto 3.2vw;
  padding: 3.2vw 0 3.2vw 0;
}

@media (min-width: 768px) {
  .top-list {
    font-size: 1.25vw;
    color: #ffffff;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 17.71vw;
    width: 17.71vw;
    margin: 0;
    padding: 1.02vw 0 1.02vw 0;
  }
}

@media (min-width: 1920px) {
  .top-list {
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 21.25rem;
    width: 21.25rem;
    margin: 0;
    padding: 1.22rem 0 1.22rem 0;
  }
}

.top-list-one {
  background-color: #77cb33;
}

.top-list-two {
  background-color: #f6aa00;
}

.top-list-three {
  background-color: #3ac8ad;
}

/* point
------------------------------------------ */
.point-container {
  padding: 0 4.27vw 0 4.27vw;
}

@media (min-width: 768px) {
  .point-container {
    padding: 3.3rem 1.2rem 1.55rem 1.2rem;
  }
}

@media (min-width: 1920px) {
  .point-container {
    padding: 3.3rem 1.2rem 1.55rem 1.2rem;
  }
}

.section-title {
  font-size: 7.47vw;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.63vw;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 1.88vw;
    margin-bottom: 1.9rem;
  }
}

@media (min-width: 1920px) {
  .section-title {
    font-size: 2.25rem;
    margin-bottom: 1.9rem;
  }
}

.point-section-title-change {
  font-size: 10.67vw;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #f11d8d;
}

@media (min-width: 768px) {
  .point-section-title-change {
    font-size: 2.81vw;
  }
}

@media (min-width: 1920px) {
  .point-section-title-change {
    font-size: 3.375rem;
  }
}

.point-list {
  margin-bottom: 8.96vw;
}

@media (min-width: 768px) {
  .point-list {
    display: flex;
    margin-bottom: 3.15rem;
  }
}

@media (min-width: 1920px) {
  .point-list {
    display: flex;
    margin-bottom: 3.15rem;
  }
}

@media (min-width: 768px) {
  .point-list-two {
    flex-direction: row-reverse;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1920px) {
  .point-list-two {
    flex-direction: row-reverse;
    margin-bottom: 3rem;
  }
}

.point img {
  width: 100%;
}

.point-list-image {
  width: 100%;
  margin-bottom: 2.13vw;
}

@media (min-width: 768px) {
  .point-list-image {
    width: 48%;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .point-list-text {
    width: 52%;
    padding: 0.5rem 0 0 2.75rem;
  }
}

@media (min-width: 1920px) {
  .point-list-text {
    width: 52%;
    padding: 0.5rem 0 0 2.75rem;
  }
}


@media (min-width: 768px) {
  .point-list-two .point-list-text {
    padding: 0.5rem 2.75rem 0 0.2rem;
  }
}

@media (min-width: 1920px) {
  .point-list-two .point-list-text {
    padding: 0.5rem 2.75rem 0 0.2rem;
  }
}

.point-number {
  font-size: 6.4vw;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color: #f11f8d;
  line-height: 1.45;
}

@media (min-width: 768px) {
  .point-number {
    font-size: 1.46vw;
    line-height: 1;
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 1920px) {
  .point-number {
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
  }
}

.point-number-space {
  font-size: 8.53vw;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

@media (min-width: 768px) {
  .point-number-space {
    font-size: 1.67vw;
  }
}

@media (min-width: 1920px) {
  .point-number-space {
    font-size: 2rem;
  }
}

.point-number-change {
  font-size: 9.6vw;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

@media (min-width: 768px) {
  .point-number-change {
    font-size: 2.19vw;
  }
}

@media (min-width: 1920px) {
  .point-number-change {
    font-size: 2.625rem;
  }
}

.point-title {
  font-size: 5.33vw;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 2.56vw;
}

@media (min-width: 768px) {
  .point-title {
    font-size: 1.25vw;
    line-height: calc(42 / 24);
    margin-bottom: 0.9rem;
  }
}

@media (min-width: 1920px) {
  .point-title {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
  }
}

.point-text {
  font-size: 4.27vw;
  font-weight: 400;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .point-text {
    font-size: 0.83vw;
    line-height: 1.75;
  }
}

@media (min-width: 1920px) {
  .point-text {
    font-size: 1rem;
    line-height: 1.75;
  }
}

/* contact
------------------------------------------ */
.contact {
  background-color: #ffeded;
}

.contact-container {
  padding: 10.24vw 4.27vw 10.24vw 4.27vw;
}

@media (min-width: 768px) {
  .contact-container {
    padding: 2.67vw 0.83vw 2.92vw 0.83vw;
  }
}

@media (min-width: 1920px) {
  .contact-container {
    padding: 3.2rem 1rem 3.5rem 1rem;
  }
}

.contact span {
  display: inline-block;
}

.contact-text {
  font-size: 4.27vw;
  font-weight: 400;
  text-align: center;
  line-height: 1.75;
  margin-bottom: 2.56vw;
}

@media (min-width: 768px) {
  .contact-text {
    font-size: 0.83vw;
    line-height: 1.75;
    margin-bottom: 1vw;
  }
}

@media (min-width: 1920px) {
  .contact-text {
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 1.2rem;
  }
}

@media (min-width: 768px) {
  .contact-button-group {
    display: flex;
    justify-content: center;
    column-gap: 4.2rem;
  }
}

/* course
------------------------------------------ */
.course-container {
  padding: 17.49vw 0 17.49vw 0;
}

@media (min-width: 768px) {
  .course-container {
    padding: 3.75vw 0.83vw 4.33vw 0.83vw;
  }
}

@media (min-width: 1920px) {
  .course-container {
    padding: 72px 16px 83.2px 16px;
  }
}

.course .section-title {
  margin: 0 0 5.33vw 4.27vw;
}

@media (min-width: 768px) {
  .course .section-title {
    margin: 0 0 1.46vw 0;
  }
}

@media (min-width: 1920px) {
  .course .section-title {
    margin: 0 0 1.75rem 0;
  }
}

.st-theme-basic {
  border: none !important;
}

.tab.st>.nav {
  column-gap: 3.2vw;
  flex-direction: row !important;
  padding: 0 4.27vw;
}

@media (min-width: 768px) {
  .tab.st>.nav {
    column-gap: 1.67vw;
    padding: 0;
  }
}

@media (min-width: 1920px) {
  .tab.st>.nav {
    column-gap: 2rem;
    padding: 0;
  }
}

.tab.st-theme-basic>.nav {
  box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
  font-size: 4.8vw;
  font-weight: 700;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
  background-color: #f0f0f0;
  border-radius: 2.13vw 2.13vw 0 0;
  padding: 6.4vw 0 5.97vw 0;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.nav .nav-link {
    font-size: 1.35vw;
    line-height: 1;
    letter-spacing: -0.1px;
    border-radius: 0.75rem 0.75rem 0 0;
    padding: 1.38vw 0.21vw 1.13vw 0;
  }
}

@media (min-width: 1920px) {
  .tab.st-theme-basic>.nav .nav-link {
    font-size: 1.625rem;
    line-height: 1;
    letter-spacing: -2px;
    border-radius: 0.75rem 0.75rem 0 0;
    padding: 1.65rem 0.25rem 1.35rem 0;
  }
}

.tab.st-theme-basic>.nav .nav-link.active {
  color: #333333 !important;
  background-color: #f2f9ff;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
  background-color: unset !important;
}

.tab-content {
  text-align: center;
  background-color: #f2f9ff;
  padding: 4.27vw 4.27vw 7.68vw 4.27vw;
  height: auto !important;
}

@media (min-width: 768px) {
  .tab-content {
    border-radius: 0 0 1.04vw 1.04vw;
    padding: 1.67vw 1.25vw 1.25vw 1.25vw;
  }
}

@media (min-width: 1920px) {
  .tab-content {
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
}

.tab.st-theme-basic>.tab-content>.tab-pane {
  display: flex;
  flex-direction: column;
  row-gap: 7.25vw;
  background-color: #f2f9ff;
  border-radius: 2.13vw;
  padding: 3.63vw 0 6.4vw 0;
}

@media (min-width: 768px) {
  .tab.st-theme-basic>.tab-content>.tab-pane {
    justify-content: space-between;
    flex-direction: column;
    row-gap: 2.04vw;
    border-radius: 0.42vw;
    padding: 0 0.63vw 0 0.63vw;
  }
}

@media (min-width: 1920px) {
  .tab.st-theme-basic>.tab-content>.tab-pane {
    justify-content: space-between;
    flex-direction: column;
    row-gap: 2.45rem;
    border-radius: 0.5rem;
    padding: 0 0.75rem 0 0.75rem;
  }
}

.course-tab-content-item-body {
  display: flex;
  flex-direction: column;
  row-gap: 7.89vw;
}

@media (min-width: 768px) {
  .course-tab-content-item-body {
    display: flex;
    flex-direction: row;
    column-gap: 1.67vw;
  }
}

@media (min-width: 1920px) {
  .course-tab-content-item-body {
    display: flex;
    flex-direction: row;
    column-gap: 1.67vw;
  }
}

.course a {
  color: #333333;
}

.course-tab-content-title {
  font-size: 5.33vw;
  font-weight: 700;
  text-align: start;
  margin-top: 2.77vw;
}

@media (min-width: 768px) {
  .course-tab-content-title {
    font-size: 1.04vw;
    margin-top: 0.83vw;
  }
}

@media (min-width: 1920px) {
  .course-tab-content-title {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}

.course-tab-content-title::before {
  font-family: "Font Awesome 5 Free";
  content: '\f061';
  font-size: 17.3104px;
  font-weight: 700;
  color: #005bac;
  margin-right: 1.71vw;
}

@media (min-width: 768px) {
  .course-tab-content-title::before {
    margin-right: 0.71vw;
  }
}

@media (min-width: 1920px) {
  .course-tab-content-title::before {
    margin-right: 0.85rem;
  }
}

.course-tab-content-image {
  overflow: hidden;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .course-tab-content-image {
    border-radius: 1rem;
  }
}

.course img {
  width: 100%;
}

@media (min-width: 768px) {
  .course img {
    width: 100%;
    transition: transform .2S;
  }
}

@media (min-width: 768px) {
  .course img:hover {
    transform: scale(1.2);
  }
}

.course-tab-content-image {
  width: 100%;
}

/* price
------------------------------------------ */
.price-container {
  padding: 17.07vw 4.27vw 16.64vw 4.27vw;
}

@media (min-width: 768px) {
  .price-container {
    padding: 3.75vw 0.83vw 3.92vw 0.83vw;
  }
}

@media (min-width: 1920px) {
  .price-container {
    padding: 4.5rem 1rem 4.7rem 1rem;
  }
}

.price .section-title {
  margin: 0 0 5.33vw 4.27vw;
}

@media (min-width: 768px) {
  .price .section-title {
    margin: 0 0 1.46vw 0;
  }
}

@media (min-width: 1920px) {
  .price .section-title {
    margin: 0 0 1.75rem 0;
  }
}

.price table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 3px solid #cccccc;
}

@media (min-width: 768px) {
  .price table {
    width: 51.371%;
  }
}

.price-table td {
  border: 1px solid #f5f5f5;
}

.price-table-head-title {
  font-size: 4.27vw;
  font-weight: 400;
  background-color: #f5f5f5;
  text-align: center;
  padding: 5.33vw 0 5.33vw 0;
}

@media (min-width: 768px) {
  .price-table-head-title {
    font-size: 0.94vw;
    padding: 1.38vw 0 1.13vw 0;
  }
}

@media (min-width: 1920px) {
  .price-table-head-title {
    font-size: 1.125rem;
    padding: 1.65rem 0 1.35rem 0;
  }
}

.price-table-head-title-one {
  width: 34%;
  padding: 5.33vw 0.85vw 5.33vw 0;
}

@media (min-width: 768px) {
  .price-table-head-title-one {
    width: 24%;
    padding: 1.29vw 0 1.21vw 0;
  }
}

@media (min-width: 1920px) {
  .price-table-head-title-one {
    width: 24%;
    padding: 1.55rem 0 1.45rem 0;
  }
}

.price-table-head-title-two {
  width: 66%;
  padding: 5.33vw 3.41vw 5.33vw 0;
}

@media (min-width: 768px) {
  .price-table-head-title-two {
    width: 76%;
    padding: 1.38vw 0 1.13vw 0;
  }
}

@media (min-width: 1920px) {
  .price-table-head-title-two {
    width: 76%;
    padding: 1.65rem 0 1.35rem 0;
  }
}

.price-table-title {
  font-size: 4.27vw;
  font-weight: 400;
  text-align: center;
  padding: 5.19vw 0 5.19vw 0;
}

@media (min-width: 768px) {
  .price-table-title {
    font-size: 0.94vw;
    padding: 1.46vw 0 1.13vw 0;
  }
}

@media (min-width: 1920px) {
  .price-table-title {
    font-size: 1.125rem;
    padding: 1.75rem 0 1.35rem 0;
  }
}

.price-table-text {
  font-size: 7.47vw;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #F23397;
  text-align: center;
  padding-right: 0.85vw;
}

@media (max-width: 767px) {
  .price-table-text-six {
    padding-left: 5.12vw;
  }
}

@media (min-width: 768px) {
  .price-table-text {
    font-size: 1.67vw;
    padding-right: 0.08vw;
  }
}

@media (min-width: 1920px) {
  .price-table-text {
    font-size: 2rem;
    padding-right: 0.1rem;
  }
}

.price-table-text-change {
  font-size: 4.27vw;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  color: #F23397;
}

@media (min-width: 768px) {
  .price-table-text-change {
    font-size: 0.94vw;
    margin-left: 0.08vw;
  }
}

@media (min-width: 1920px) {
  .price-table-text-change {
    font-size: 1.125rem;
    margin-left: 0.1rem;
  }
}

/* footer
------------------------------------------ */
.footer {
  background-color: #dddddd;
}

.footer .container-body {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer-top {
    display: flex;
  }
}

.footer-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .footer-wrapper {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .footer-wrapper::before {
    transition: transform .2S;
  }
}

.footer-wrapper:hover::before {
  transform: scale(1.2);
}


.footer-wrapper-one::before {
  content: "";
  display: block;
  aspect-ratio: 75 / 34;
  background-image: url(/asset/image/footer/footer_sp_01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-wrapper-one::before {
    content: "";
    display: block;
    aspect-ratio: 3 / 1;
    background-image: url(/asset/image/footer/footer_pc_01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
  }
}

.footer-wrapper-two::before {
  content: "";
  display: block;
  aspect-ratio: 75 / 34;
  background-image: url(/asset/image/footer/footer_sp_02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-wrapper-two::before {
    content: "";
    display: block;
    aspect-ratio: 3 / 1;
    background-image: url(/asset/image/footer/footer_pc_02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
  }
}

.footer-text {
  font-size: 5.87vw;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 4.27vw;
}

@media (min-width: 768px) {
  .footer-text {
    font-size: 1.67vw;
    justify-content: center;
    align-items: center;
    padding-left: 0.21vw;
  }
}

@media (min-width: 1920px) {
  .footer-text {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding-left: 0.25rem;
  }
}

.footer-bottom {
  padding-top: 8.96vw;
  padding-bottom: 8.11vw;
}

@media (min-width: 768px) {
  .footer-bottom {
    padding-top: 2.5vw;
    padding-bottom: 2.75vw;
  }
}

@media (min-width: 1920px) {
  .footer-bottom {
    padding-top: 3rem;
    padding-bottom: 3.3rem;
  }
}

.footer-copyright {
  font-size: 3.47vw;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-left: 4.27vw;
}

@media (min-width: 768px) {
  .footer-copyright {
    font-size: 0.68vw;
    padding-left: 0;
  }
}

@media (min-width: 1920px) {
  .footer-copyright {
    font-size: 0.8125rem;
    padding-left: 0;
  }
}